* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction { 
     background-color: #DDDDDD;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    
}

.header-left h1 {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
}

.header-left p {
    font-size: 18px;
    color: gray;
}

.headerName-roca {
    color: blue;
}

.header-upDown {
    position: relative;
    width: 300px;
    height: 150px; 
    text-align: right;
    
}

.header-down {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 158.3px; 
    color: rgba(0, 0, 0, 0.1); 
    z-index: 0; 
}

.header-up {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 43.17px; 
    color: black; 
    z-index: 1; 
}


p { 
    margin-right: 50px;
}


.first-p { 
    font-size: 49.7px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.my-name { 
    font-size: 71px;
    margin-bottom: 20px;
}

.profession1 { 
    font-size: 23.29px;
    margin-bottom: 50px;
}


.logos { 
    width: 30px;
    height: 30px;
    margin-bottom: 50px;
}

.logos-gap { 
   gap: 13px;
   background-color: #DDDDDD;
   margin-bottom: 150px;
   
}

.slider {
    width: 100%;
    position: relative;
    overflow: hidden;
}


.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
}

.first-block-slider{
    position: absolute;
    margin-left: 220px;
    margin-top: 50px;
}

.slider_percent {
    color: #E93656;
    font-size: 24px;
}

.slider_text {
    color: #212121;
    font-size: 24px;
}


.slider_bar {
    width: 120%;
    height: 8px;
    appearance: none;
}

progress::-webkit-progress-value {
    background:  #E93656;
    border-radius: 12px;
}

progress::-webkit-progress-bar {
    border-radius: 12px;
}

.text-info {
    justify-content: center;
    
}


.my-name-secondBlock { 
    font-size: 40px;
    text-align: end;
}

.prof-front { 
    font-size: 14px;
    color: #DAAE19;
    text-align: end;
    margin-bottom: 50px;
}

.desc { 
  font-size: 15px;
  color: #555555;
  text-align: end;
  margin-bottom: 50px;
  line-height: 26px;
}


.entire-aboutMe { 
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    margin-top: 150px;
    max-width: 1400px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-me-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.hire-me-button:hover {
    background-color: #ff1f3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a { 
    text-decoration: none;
}


.profile-right-slider {
    flex: 2;
    padding: 20px;
}

.progress-bar-container {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #ff4b5c;
    transition: width 0.5s ease-in-out;
}



.info-section {
text-align: center;
width: 200px;
padding: 20px;
border: 1px solid #444;
border-radius: 10px;
transition: background-color 0.3s, transform 0.3s;
cursor: pointer;
background-color: #1a2238;
}

.info-section:hover {
background-color: #28304d;
transform: scale(1.05);
}

.info-section .icon {
font-size: 2em;
margin-bottom: 10px;
}

.info-section .title {
font-size: 1.2em;
margin-bottom: 10px;
}

.details-display {
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
border-radius: 10px;
display: none;
width: 300px;
margin-left: 20px;
}

.details-display p {
margin: 10px 0;
}

.slider {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    width: 100%;
    position: relative;
    overflow: hidden;
}


.slider-image {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.cards-img { 
    width: 60px;
    height: 60px; 
    justify-content: center;
}

.card-txt {
    font-size: 22px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    max-width: 1400px;
    height: 560px;
    gap: 10px;  
    margin-left: 50px;
    padding-top: 150px;
    padding-bottom: 900px;
    
}
  
.card {
    position: relative;
    width: 285px;
    height: 360px;
    overflow: hidden;
    cursor: pointer;
}
  
.card-content {
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 285px;
    height: 360px;
}
  
.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15263E;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    flex-direction: column;
    gap: 20px;
  }
  
.card:hover .card-info {
    opacity: 1;
}

.slider-container {
    position: relative;
    width: 100%;
    max-width: 600px; 
    margin-left: 23px;
}

.slider-secContainer { 
    justify-content: center;
    display: flex;
    align-items: center;
}

.slider img {
    width: 100%;
    height: auto;
    display: block;
}

.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#prev-btn {
    left: 10px;
}

#next-btn {
    right: 10px;
}
.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.entire-info { 
    background: #131A36 0% 0% no-repeat padding-box;
    top: 1798px;
    left: 0px;
    width: 100%;
    height: 210px;
    opacity: 1;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap
}



.card_image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border: 2px dashed #ffffff;
    border-radius: 50%;
    transition: all 0.4s;
}

.card_image:hover {
    background-color: #e93656;
    border: 2px solid #e93656;
}

.all-info {
    min-width: 300px;
    display: flex;
    gap: 15px;
    
}

.info-text {
    display: flex;
    flex-direction: column;
}

.info-title {
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.75px;
    margin-bottom: 10px;
}

.information-text {
    color: #dfdfdf;
    margin-bottom: 4px;
    font-size: 14px;
    letter-spacing: 0.42px;
}


.carousel-container {
    position: relative;
    max-width: 100%;
    height: 300px;
    left: 0px;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    background-image: url(./imgs/clip.jpg);
    background-size: cover;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
}
.carousel-slider {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    gap: 150px;
    
}
.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 50px;
    display: block;
}


.carousel-slide img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.carousel-slide h2 {
    margin: 10px 0 5px 0;
    color: #FFCC00;
}
.carousel-slide p {
    margin: 5px 0;
}
.profession {
    color: #FF0000;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
    margin-right: 250px;
}
.button {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button.active {
    border-color: #E93656;
}

.flex { 
    flex-direction: column;
}
.profession { 
    font-size: 13px;
    text-align: left;
}
.name  { 
    font-size: 28px;
    letter-spacing: 0.84px;
}


.align-left { 
    text-align: end;
    color: white;
    line-height: 30px;
}
.img-border { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 10px;
    border: 2px dashed #ffffff;
    border-radius: 50%;
}

.project-head { 
    font-size: 70px;
    align-items: center;
    justify-content: center;
}

.selectable-block { 
    background-color: #15263E;
}


.container1 {
    width: 80%;
    max-width: 1400px;
    margin: auto;
    display: flex;
}

.categories ul {
    list-style-type: none;
    padding: 0;
}


.categories { 
    background-color: #15263E;
    width: 340px;
    height: 401px;
    
   
}
.ul-list { 
        margin-top: 50px;

}
.categories li {
    margin: 25px 10px;
    cursor: pointer;
    text-align: left;
    color: white;
    text-align: center;
}

.categories li:hover, .categories li.active {
    color: #ff4081;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

.project {
    width: 30%;
    margin: 10px;
    background-color: #ccc;
    padding: 20px;
    display: none;
}

.project-info {
    display: none;
}

.project:hover .project-info {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
}

.latest-projects { 
    text-align: center;
    margin-bottom: 50px;
}


.grid-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    padding-left: 50px;
  }
  
  .grid {
    width: 100%;
    height: auto;
    transition: filter 0.3s ease;
  }
  
  .grid:hover {
    filter: brightness(50%);
    cursor: pointer;
  }
  
  .grid-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .grid:hover .grid-info {
    opacity: 1;
  }
  