* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction { 
     background: #DDDDDD;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.header-left h1 {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
}

.header-left p {
    font-size: 18px;
    color: gray;
}

.headerName-roca {
    color: blue;
}

.header-upDown {
    position: relative;
    width: 300px;
    height: 150px; 
    text-align: right;
    
}

.header-down {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 158.3px; 
    color: rgba(0, 0, 0, 0.1); 
    z-index: 0; 
}

.header-up {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 43.17px; 
    color: black; 
    z-index: 1; 
}

.about-me { 
    display: flex;
}
.my-info { 
    margin-left: 150px;  
}


.first-p { 
    font-size: 49.7px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.my-name { 
    font-size: 71px;
}

.profession { 
    font-size: 23.29px;
    margin-bottom: 50px;
}


.logos { 
    width: 30px;
    height: 30px;
}

.logos-gap { 
   gap: 5px;
   
}

.slider {
    width: 80%;
    max-width: 580px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    height: auto;
    display: block;
    max-width: 580px;
    max-width: 580px;
    border-radius: 13px;
}

.first-block-slider { 
    margin-top: 150px;
    margin-left: 300px;
    gap: 5px;
}

.percent-redSlider { 
    color: red;
    display: flex;
}

.slider-clients { 
    color: black;
}

.red-line {
    border: 1px solid red;
    width: 1000px; 
    height: 0; 
}


