* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.introduction { 
     background: #DDDDDD;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.header-left h1 {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
}

.header-left p {
    font-size: 18px;
    color: gray;
}

.headerName-roca {
    color: blue;
}

.header-upDown {
    position: relative;
    width: 300px;
    height: 150px; 
    text-align: right;
    
}

.header-down {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 158.3px; 
    color: rgba(0, 0, 0, 0.1); 
    z-index: 0; 
}

.header-up {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 43.17px; 
    color: black; 
    z-index: 1; 
}

.about-me { 
    display: flex;
}
.my-info { 
    margin-left: 150px;  
}


.first-p { 
    font-size: 49.7px;
    padding-top: 80px;
    padding-bottom: 20px;
}

.my-name { 
    font-size: 71px;
}

.profession { 
    font-size: 23.29px;
    margin-bottom: 50px;
}


.logos { 
    width: 30px;
    height: 30px;
}

.logos-gap { 
   gap: 5px;
   
}

.slider {
    width: 80%;
    max-width: 580px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
    
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    height: auto;
    display: block;
    max-width: 100%;
}

.first-block-slider { 
    margin-top: 150px;
    margin-left: 300px;
    gap: 5px;
    
}


.percent-redSlider { 
    color: red;
    display: flex;
    
}

.slider-clients { 
    color: black;
}

.red-line {
    border: 1px solid red;
    max-width: 1400px; 
    background-color: #ff4b5c;
    border: none;
    border-radius: 5px;
    padding: 0px 70px;
}


.my-name-secondBlock { 
    font-size: 40px;
    text-align: right;
}

.prof-front { 
    font-size: 14px;
    color: #DAAE19;
    text-align: end;
    margin-bottom: 50px;
}

h4 { 
  font-size: 15px;
  color: #555555;
  text-align: end;
  margin-bottom: 50px;
}


.entire-aboutMe { 
    display: flex;
    gap: 5px;
    align-items: center;
    margin-top: 150px;
    max-width: 1400px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hire-me-button {
    background-color: #ff4b5c;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 15px 50px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.hire-me-button:hover {
    background-color: #ff1f3d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

a { 
    text-decoration: none;
}


.profile-right-slider {
    flex: 2;
    padding: 20px;
}

.progress-bar-container {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.progress-bar {
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #ff4b5c;
    transition: width 0.5s ease-in-out;
}



.info-section {
text-align: center;
width: 200px;
padding: 20px;
border: 1px solid #444;
border-radius: 10px;
transition: background-color 0.3s, transform 0.3s;
cursor: pointer;
background-color: #1a2238;
}

.info-section:hover {
background-color: #28304d;
transform: scale(1.05);
}

.info-section .icon {
font-size: 2em;
margin-bottom: 10px;
}

.info-section .title {
font-size: 1.2em;
margin-bottom: 10px;
}

.details-display {
background-color: rgba(0, 0, 0, 0.8);
padding: 20px;
border-radius: 10px;
display: none;
width: 300px;
margin-left: 20px;
}

.details-display p {
margin: 10px 0;
}

.slider {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}


.cards-img { 
    width: 60px;
    height: 60px; 
    justify-content: center;
}

.card-txt {
    font-size: 22px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    max-width: 1400px;
    height: 560px;
    gap: 10px;  
    margin-left: 37px;
    padding-top: 150px;
    
  }
  
.card {
    position: relative;
    width: 285px;
    height: 360px;
    overflow: hidden;
    cursor: pointer;
}
  
.card-content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
.card-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #15263E;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    flex-direction: column;
  }
  
  .card:hover .card-info {
    opacity: 1;
  }
  
  .card-content { 
    background: #FAFAFA 0% 0% no-repeat padding-box;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 285px;
    height: 360px;
  }
